<!DOCTYPE html>
<html>
<head lang="en">
   {% include "head.html" with pagetitle="Edit event"%}
</head>
<body class = "background">
    {% include "navbar.html" %}
    {% if request.user.is_authenticated and user.is_superuser%}
        <div class="basicdiv">
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" value="{{ event.title }}">
                </div>
                <div class="form-group">
                    <label for="longText">Long text</label>
                    <input type="text" class="form-control" name="longText" value="{{ event.longText }}">
                </div>
                <div class="form-group">
                    <label for="shortText">Short text</label>
                    <input type="text" class="form-control" name="shortText" value="{{ event.shortText }}">
                </div>
                <div class="form-group">
                    <label for="startTime">Start date and time (YYYY-MM-DD HH:MM)</label>
                    <input type="datetime" class="form-control" name="startTime" value="{{ event.startTime | date:'Y-m-d H:i' }}">
                </div>
                <div class="form-group">
                    <label for="endTime">End date and time (YYYY-MM-DD HH:MM)</label>
                    <input type="datetime" class="form-control" name="endTime" value="{{ event.endTime | date:'Y-m-d H:i' }}">
                </div>
                <div class="form-group">
                    <label for="imgUrl">Image URL</label>
                    <input type="text" class="form-control" name="imgUrl" value="{{ event.imgUrl }}">
                </div>
                <div class="form-group">
                    <label for="maxParticipants">Max participants</label>
                    <input type="number" class="form-control" name="maxParticipants" value="{{ event.maxParticipants }}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endif %}

</body>
</html>
