<!DOCTYPE html>
<html>
<head lang="en">
    {% include "head.html" with pagetitle="Home"%}
</head>
<body class = "background">
    {% include "navbar.html" %}

    <h1 class = "homePageHeader">Cocktails!</h1>
    {% if user.is_superuser %}<a href="/addEvent/"><button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add new event</button></a>{% endif %}
    {% for event in events %}
        <div class="eventBox">
            <a href="/event/{{ event.id }}/"><h2>{{ event.title }}</h2></a>
            <p>{{ event.shortText }}</p>
            <p>start time: {{ event.startTime }}</p>
            <p>end time: {{ event.endTime }}</p>
        {% if user.is_superuser %}
            <a href="/editEvent/{{event.id}}"><button type="button" class="btn btn-success btn-sm">Edit event</button></a>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ event.id }}">
                Delete event
            </button>
            <div class="modal fade" id="deleteModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Are you sure you want to delete the event?</p>
                            <a href="/deleteEvent/{{event.id}}"><button type="button" class="btn btn-danger btn-sm">Delete event</button></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    {% endfor %}
</body>
</html>