{% load tags %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/recept">Recept</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    {% include "logout.html" %}
                {% else %}
                    {% include "login.html" %}
                {% endif %}
             </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% if messages %}
    {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}" role="alert"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}